<!DOCTYPE html>
<html>
  <head>
    <title>Basics | Ruby on Rails Project One</title> 
  </head>
  <body>
    <h1>Basics</h1>
    <ol>
        <li>Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?</li>
        <li>Qué puede hacerse con un resource?</li>
        <li>Qué es RESTful routing?
            <ol type='a'>
                <li>Cuantas acciones básicas tiene esta filosofía?</li>
                <li>Cuales son?</li>
                <li>Cuales verbos HTTP se utilizan en cada una de ellas?</li>
            </ol>
        </li>
    </ol>
    <%= link_to 'Home', :action => :home %>
  </body>
</html>