<!DOCTYPE html>
<html>
  <head>
    <title>Basics | Ruby on Rails Project One</title> 
  </head>
  <body>
    <h1>Basics</h1>
    <ol>
        <b><li>Qué es un resource en el contexto de una aplicación web REST en Ruby on Rails?</li></b>
            <p>Un resource es un modelo, es decir, una clase que representa una tabla en la base de datos, además del conjunto de todas sus rutas</p>
        <b><li>Qué puede hacerse con un resource?</li></b>
            <p>Se puede manipular la información de la base de datos, sin necesidad de consultas SQL. Crearlo, leerlo, actualizarlo y eliminarlo</p>
        <b><li>Qué es RESTful routing?</b>
            <p>Es la forma que tenemos para acceder a cada una de las acciones mediante URLs</p>
            <ol type='a'>
                <b><li>Cuantas acciones básicas tiene esta filosofía?</li></b>
                    <p>Tiene 4 acciones básicas</p>
                <b><li>Cuales son?</li></b>
                    <p>Crear, leer, actualizar y eliminar (CRUD)</p>
                <b><li>Cuales verbos HTTP se utilizan en cada una de ellas?</li></b>
                    <p>Crear (Post), leer (Get), actualizar (Patch o Put) y eliminar (Delete)</p>
            </ol>
        </li>
    </ol>
    <p>Volver a <%= link_to 'Home', :action => :home %> o visita <%= link_to 'Ruby', :action => :ruby %>, <%= link_to 'Git', :action => :git %></p>
  </body>
</html>