<!DOCTYPE html>
<html>
  <head>
    <title>Home | Ruby on Rails Project One</title> 
  </head>
  <body>
    <h1>Project One by Daniel Buriticá</h1>
    <p>Visita las siguiente páginas:</p>
    <ul>
      <li><%= link_to 'Basics', :action => :basics %></li>
      <li><%= link_to 'Ruby', :action => :ruby %></li>
      <li><%= link_to 'Git', :action => :git %></li>
    </ul>
    <p>
      <b>La Fecha y Hora actual es: </b>
      <%= Time.now.in_time_zone('Bogota').strftime("%d-%b-%Y  %I:%M %P") %>
    </p>
  </body>
</html>