<!DOCTYPE html>
<html>
  <head>
    <title>Ruby | Ruby on Rails Project One</title> 
  </head>
  <body>
    <h1>Ruby</h1>
    <ol>
        <li>Interpolación de strings</li>
        <li>Cómo se declara un array y cómo se adiciona un elemento al final del array</li>
        <li>Cómo se itera un array utilizando el comando each</li>
        <li>Cómo se declara un hash</li>
        <li>Cómo se itera un hash utilizando el comando each</li>
        <li>Que es un block en ruby? De un ejemplo de cómo utilizarlo</li>
        <li>Cual es la convención en Ruby a la hora de nombrar variables?</li>
        <li>Qué son attr_reader, attr_writer y attr_accesor? Para qué sirven?</li>
    </ol>
    <p>Volver a <%= link_to 'Home', :action => :home %> o visita <%= link_to 'Basics', :action => :basics %>, <%= link_to 'Git', :action => :git %></p>
  </body>
</html>